force-app/main/default/flows/Auto_Assign_Permission_Set_to_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_if_Cloned_From_is_Changed_from_Blank_to_Not_Blank</name>
        <label>Check if Cloned From is Changed from Blank to Not Blank</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_to_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClonedFrom__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ClonedFrom__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClonedFrom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ClonedFrom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PermissionSet_s_Group_Needs_to_be_Cloned</targetReference>
            </connector>
            <label>Changed to Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PermissionSet_s_Group_Needs_to_be_Cloned</name>
        <label>Check if PermissionSet(s)Group Needs to be Cloned</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_if_Queue_Group_Member_Needs_to_Cloned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClonePermissionSetGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Clone_PermissionSet_s_Groups</targetReference>
            </connector>
            <label>Clone?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PSLA_Needs_to_be_Cloned</name>
        <label>Check if PSLA Needs to be Cloned?</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone_PSLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClonePermissionSetLicence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Clone_PermissionSetLicenseAssign_Record</targetReference>
            </connector>
            <label>Clone PSLA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Queue_Group_Member_Needs_to_Cloned</name>
        <label>Check if Queue/Group Member Needs to Cloned?</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Check_if_PSLA_Needs_to_be_Cloned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cloned_Group_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloneGroupQueueMembers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Clone_Queue_Group_Member_Record</targetReference>
            </connector>
            <label>Cloned Group/Queue</label>
        </rules>
    </decisions>
    <interviewLabel>RT: Auto Assign Permission Set to user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT: Auto Assign Permission Set to user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Cloned_From_is_Changed_from_Blank_to_Not_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCloned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Clone_PermissionSet_s_Groups</name>
        <label>Subflow: Clone PermissionSet(s)/Groups</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Check_if_Queue_Group_Member_Needs_to_Cloned</targetReference>
        </connector>
        <flowName>Clone_PermissionSet_s_Groups</flowName>
        <inputAssignments>
            <name>varUserRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Clone_PermissionSetLicenseAssign_Record</name>
        <label>Subflow: Clone PermissionSetLicenseAssign Records</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <flowName>Clone_PermissionSetLicenseAssign_Records</flowName>
        <inputAssignments>
            <name>varUserRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Clone_Queue_Group_Member_Record</name>
        <label>Subflow: Clone Queue/Group Member Record</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Check_if_PSLA_Needs_to_be_Cloned</targetReference>
        </connector>
        <flowName>Subflow_Clone_Group_Member_Record</flowName>
        <inputAssignments>
            <name>varUserRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varPermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varPermissionSetAssignmentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
