force-app/main/default/flows/Auto_Assign_Permission_Set_to_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_PSA_to_List</name>
        <label>Add PSA to List</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>varPermissionSetAssignmentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPermissionSetAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_PSA_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_PSA</name>
        <label>Prepare PSA</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varPermissionSetAssignment.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPermissionSetAssignment.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PSA_Records.PermissionSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPermissionSetAssignment.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PSA_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_PermissionSet_is_Valid</name>
        <label>Check if PermissionSet is Valid?</label>
        <locationX>226</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Prepare_PSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid?</defaultConnectorLabel>
        <rules>
            <name>NotValid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_PSA_Records.PermissionSet.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00e</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_PSA_Records.PermissionSet.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00e</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_PSA_Records.PermissionSet.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>X00e</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_PSA_Records</targetReference>
            </connector>
            <label>Not Valid?</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcnPSAFound</name>
        <label>Check if PSA Found?</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grPASs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_PSA_Records</targetReference>
            </connector>
            <label>PSA Found?</label>
        </rules>
    </decisions>
    <interviewLabel>RT: Auto Assign Permission Set to user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT: Auto Assign Permission Set to user</label>
    <loops>
        <name>Loop_through_PSA_Records</name>
        <label>Loop through PSA Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>grPASs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_PermissionSet_is_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crPSA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crPSA</name>
        <label>Insert PSA</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>CloneQueueGroupMemberRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_to_Chatter</targetReference>
        </faultConnector>
        <inputReference>varPermissionSetAssignmentList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>grPASs</name>
        <label>SOQL All PSA Related to Cloned From User</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcnPSAFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ClonedFrom__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grPASs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCloned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ClonedFrom__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>CloneQueueGroupMemberRecord</name>
        <label>Subflow: Clone Queue/Group Member Record</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <flowName>Subflow_Clone_Group_Member_Record</flowName>
        <inputAssignments>
            <name>varUserRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varPermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varPermissionSetAssignmentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
