force-app/main/default/flows/Clone_PermissionSet_s_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_PSA_to_List</name>
        <label>Add PSA to List</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varPermissionSetAssignmentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPermissionSetAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>psaRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_PSA_Record</name>
        <label>Prepare PSA Record</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varPermissionSetAssignment.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPermissionSetAssignment.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>psaRecord.PermissionSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPermissionSetAssignment.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PSA_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_PermissionSet_is_Valid</name>
        <label>Check if PermissionSet is Valid?</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Prepare_PSA_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>psaRecord.PermissionSet.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00e</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>psaRecord.PermissionSet.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00e</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>psaRecord.PermissionSet.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>X00e</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>psaRecord.PermissionSet.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>X00e</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>psaRecord</targetReference>
            </connector>
            <label>Not Valid?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PSA_Found</name>
        <label>Check if PSA Found?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOQL_ALL_PSA_Related_to_user_Cloned_From</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>psaRecord</targetReference>
            </connector>
            <label>PSA Found?</label>
        </rules>
    </decisions>
    <description>This subflow is used to clone the user permission set and permission set groups</description>
    <interviewLabel>Subflow: Clone PermissionSet(s)/Groups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Clone PermissionSet(s)/Groups</label>
    <loops>
        <name>psaRecord</name>
        <label>Iterate through PSA Records</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>SOQL_ALL_PSA_Related_to_user_Cloned_From</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_PermissionSet_is_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crPermissionSetAssignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crPermissionSetAssignment</name>
        <label>Create PSA Record</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <faultConnector>
            <targetReference>Post_to_Chatter</targetReference>
        </faultConnector>
        <inputReference>varPermissionSetAssignmentList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>SOQL_ALL_PSA_Related_to_user_Cloned_From</name>
        <label>SOQL ALL PSA Related to user Cloned From</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_PSA_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserRecord.ClonedFrom__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SOQL_ALL_PSA_Related_to_user_Cloned_From</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varPermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varPermissionSetAssignmentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
