force-app/main/default/flows/Clone_PermissionSetLicenseAssign_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_PSLA_Record_to_List</name>
        <label>Add PSLA Record to List</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varPermissionSetLicenseAssignList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPermissionSetLicenseAssign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pslaRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_PSLA_Record</name>
        <label>Prepare PSLA Record</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varPermissionSetLicenseAssign.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPermissionSetLicenseAssign.PermissionSetLicenseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pslaRecord.PermissionSetLicenseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PSLA_Record_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_PSLA_Found</name>
        <label>Check if PSLA Found?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOQL_PermissionSetLicenseAssign_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pslaRecord</targetReference>
            </connector>
            <label>Found?</label>
        </rules>
    </decisions>
    <interviewLabel>Subflow: Cloned {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Clone PermissionSetLicenseAssign Records</label>
    <loops>
        <name>pslaRecord</name>
        <label>Iterate Through PSLA</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>SOQL_PermissionSetLicenseAssign_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_PSLA_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crPermissionSetLicenseAssign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crPermissionSetLicenseAssign</name>
        <label>Create PermissionSetLicenseAssign Record</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <inputReference>varPermissionSetLicenseAssignList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>SOQL_PermissionSetLicenseAssign_Records</name>
        <label>SOQL PermissionSetLicenseAssign Records</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_PSLA_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserRecord.ClonedFrom__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SOQL_PermissionSetLicenseAssign_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varPermissionSetLicenseAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetLicenseAssign</objectType>
    </variables>
    <variables>
        <name>varPermissionSetLicenseAssignList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetLicenseAssign</objectType>
    </variables>
    <variables>
        <name>varUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
