force-app/main/default/flows/Screen_Clone_Existing_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_if_User_is_Selected</name>
        <label>Check if User is Selected?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Not Selected</defaultConnectorLabel>
        <rules>
            <name>User_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CloneFrom.valueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CloneFrom.valueName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grUserRecord</targetReference>
            </connector>
            <label>User Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceProfileIds</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>Profile</object>
        <sortField>CreatedById</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fmErrorMessage</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Flow.FaultMessage}, Find(&quot;You can look up ExceptionCode&quot;, {!$Flow.FaultMessage} ) -1)</expression>
    </formulas>
    <interviewLabel>Scree: Clone Existing Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: Clone Existing Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crCreateUser</name>
        <label>Create User Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <faultConnector>
            <targetReference>Create_Record_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloneGroupQueueMembers__c</field>
            <value>
                <elementReference>Clone_Group_Queue_Members</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClonePermissionSetGroup__c</field>
            <value>
                <elementReference>Clone_Permission_Set_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClonePermissionSetLicence__c</field>
            <value>
                <elementReference>Clone_Permission_Set_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClonedFrom__c</field>
            <value>
                <elementReference>CloneFrom.valueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCloned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>choiceProfileIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>grUserRecord</name>
        <label>Get Selected User Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayUserInformation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SOQLErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CloneFrom.valueId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Record_Error</name>
        <label>Create Record Error</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous: Verify Inputs</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Existing_User</targetReference>
        </connector>
        <fields>
            <name>CreateErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 6, 6);&quot;&gt;{!fmErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next: Verify Inputs</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous: Select User</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Existing_User</targetReference>
        </connector>
        <fields>
            <name>SelectUserToClone</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 10, 10);&quot;&gt;You have not selected any user. Please select a user to clone the record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next: Select User</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayUserInformation</name>
        <label>Display User Information</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous: Select User</backButtonLabel>
        <connector>
            <targetReference>crCreateUser</targetReference>
        </connector>
        <fields>
            <name>SelectedUser</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Select User Informations are given below&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayUserInformation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplayUserInformation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UserInfo</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Name: &lt;/b&gt;{!CloneFrom.valueName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Email: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!grUserRecord.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Username: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!grUserRecord.Username}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DisplayUserInformation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProfileInfo</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Profile: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!grUserRecord.Profile.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Role: &lt;/b&gt;{!grUserRecord.UserRole.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Licence: &lt;/b&gt;{!grUserRecord.Profile.UserLicense.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayUserInformation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplayUserInformation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grUserRecord.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>grUserRecord.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grUserRecord.Title</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Alias</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grUserRecord.Alias</elementReference>
                    </defaultValue>
                    <fieldText>Alias</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DisplayUserInformation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Profile</name>
                    <choiceReferences>choiceProfileIds</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grUserRecord.ProfileId</elementReference>
                    </defaultValue>
                    <fieldText>Profile</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grUserRecord.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Username</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grUserRecord.Username</elementReference>
                    </defaultValue>
                    <fieldText>Username</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayUserInformation_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplayUserInformation_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HeadingTitle</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;Clone Related Records?&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Clone_Group_Queue_Members</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Clone Group/Queue Members</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Clone_Permission_Set_Group</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Clone Permission Set/Group(s)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Clone_Permission_Set_Licence</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Clone Permission Set Licence</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next: Clone User</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Existing_User</name>
        <label>Select Existing User</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_User_is_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_Existing_User_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Existing_User_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cloning</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>cloning</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageCSS</name>
                        <value>
                            <stringValue>border-radius: 50%;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Message</name>
                    <fieldText>&lt;p&gt;With the flow screen, the administrator can look up an existing User to serve as the template for their new User. Clone Users from the desktop (for both Classic and Lightning) or even on Salesforce Mobile.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CloneFrom</name>
            <extensionName>c:searchComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <stringValue>Name, Email, Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelName</name>
                <value>
                    <stringValue>Select Existing User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select Existing User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:user</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next: Provide User Information</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SOQLErrorScreen</name>
        <label>SOQL Error Screen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SOQLErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 9, 9);&quot;&gt;{!fmErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Existing_User</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
